h1 {
    text-align: center;
    color: #ffb703;
    margin-top: 30px;
    font-family: 'Major Mono Display', serif;
}

h2 {
    text-align: center;
    color: #ffb703;
    margin-top: 30px;
    font-family: 'Major Mono Display', serif;
}


.navbar-brand{
    font-family: 'Major Mono Display', serif;
}

.card-title {
    font-family: "Armata", serif;
    font-weight: lighter;

}

#date {
    height: 40px;
    width: 500px;
    margin-top: 20px;
}

a {
    font-family: "Armata", serif;
}

.custom-btn {
    background-color: #041a3b; 
    color: white;
    margin-top: 20px;
}
.custom-btn:hover {
    background-color: #062452;
    color: white;
}

.custom-message {
    font-family: "Armata", serif;
    color: white;

}

