

h1 {
    text-align: center;
    color: #ffb703;
    margin-top: 30px;
    font-family: 'Major Mono Display', serif;
}


.navbar-brand{
    font-family: 'Major Mono Display', serif;
}

h3 {
    text-align: center;
    color: #ffb703;
    font-family: "Armata", serif;
    margin-top: 5px;
}


h5, p, a {
    font-family: "Armata", serif;
}

.custom-btn {
    background-color: #041a3b; 
    color: white;
}
.custom-btn:hover {
    background-color: #062452;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}


.card-columns {
    column-count: 3;
    column-gap: 1.5rem;
}


footer {
    height: 56px;
    line-height: 56px;
}